<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Info</key>
	<array>
		<dict>
			<key>money</key>
			<string>0.5元</string>
			<key>phone</key>
			<string>136****6513</string>
		</dict>
		<dict>
			<key>money</key>
			<string>2.0元</string>
			<key>phone</key>
			<string>188****1304</string>
		</dict>
		<dict>
			<key>money</key>
			<string>0.7元</string>
			<key>phone</key>
			<string>135****3880</string>
		</dict>
		<dict>
			<key>money</key>
			<string>1.5元</string>
			<key>phone</key>
			<string>182****3392</string>
		</dict>
		<dict>
			<key>money</key>
			<string>2.5元</string>
			<key>phone</key>
			<string>178****2865</string>
		</dict>
		<dict>
			<key>money</key>
			<string>3.0元</string>
			<key>phone</key>
			<string>188****1304</string>
		</dict>
		<dict>
			<key>money</key>
			<string>6.0元</string>
			<key>phone</key>
			<string>137****8617</string>
		</dict>
		<dict>
			<key>money</key>
			<string>1.2元</string>
			<key>phone</key>
			<string>138****1310</string>
		</dict>
		<dict>
			<key>money</key>
			<string>0.5元</string>
			<key>phone</key>
			<string>150****3450</string>
		</dict>
		<dict>
			<key>money</key>
			<string>0.8元</string>
			<key>phone</key>
			<string>138****7043</string>
		</dict>
		<dict>
			<key>money</key>
			<string>5.0元</string>
			<key>phone</key>
			<string>152****3001</string>
		</dict>
		<dict>
			<key>money</key>
			<string>3.2元</string>
			<key>phone</key>
			<string>132****5165</string>
		</dict>
		<dict>
			<key>money</key>
			<string>0.88元</string>
			<key>phone</key>
			<string>151****8115</string>
		</dict>
		<dict>
			<key>money</key>
			<string>0.66元</string>
			<key>phone</key>
			<string>188****1304</string>
		</dict>
		<dict>
			<key>money</key>
			<string>0.32元</string>
			<key>phone</key>
			<string>150****1092</string>
		</dict>
		<dict>
			<key>money</key>
			<string>0.43元</string>
			<key>phone</key>
			<string>182****5052</string>
		</dict>
		<dict>
			<key>money</key>
			<string>0.56元</string>
			<key>phone</key>
			<string>139****3530</string>
		</dict>
		<dict>
			<key>money</key>
			<string>1.7元</string>
			<key>phone</key>
			<string>189****8261</string>
		</dict>
		<dict>
			<key>money</key>
			<string>2.3元</string>
			<key>phone</key>
			<string>150****1092</string>
		</dict>
		<dict>
			<key>money</key>
			<string>1.6元</string>
			<key>phone</key>
			<string>134****6711</string>
		</dict>
		<dict>
			<key>money</key>
			<string>1.5元</string>
			<key>phone</key>
			<string>135****3880</string>
		</dict>
		<dict>
			<key>money</key>
			<string>3.0元</string>
			<key>phone</key>
			<string>158****0642</string>
		</dict>
		<dict>
			<key>money</key>
			<string>2.2元</string>
			<key>phone</key>
			<string>137****2460</string>
		</dict>
		<dict>
			<key>money</key>
			<string>2.3元</string>
			<key>phone</key>
			<string>152****4027</string>
		</dict>
		<dict>
			<key>money</key>
			<string>5.3元</string>
			<key>phone</key>
			<string>138****1944</string>
		</dict>
		<dict>
			<key>money</key>
			<string>4.6元</string>
			<key>phone</key>
			<string>150****4656</string>
		</dict>
		<dict>
			<key>money</key>
			<string>3.3元</string>
			<key>phone</key>
			<string>133****8646</string>
		</dict>
		<dict>
			<key>money</key>
			<string>1.5元</string>
			<key>phone</key>
			<string>158****4000</string>
		</dict>
		<dict>
			<key>money</key>
			<string>2.3元</string>
			<key>phone</key>
			<string>138****7043</string>
		</dict>
		<dict>
			<key>money</key>
			<string>3.5元</string>
			<key>phone</key>
			<string>159****5417</string>
		</dict>
	</array>
</dict>
</plist>
